#!/usr/bin/python
# vim:ts=4:sw=4:softtabstop=0:smarttab

PORT = 80

# Setting this also enables SSL support.
#SSLPORT = 443

SITEROOT = "/var/www"
LOGROOT = "/var/log/lighttpd"

# user website services runs as:
SITEUSER = "lighttpd"

# user that owns the website files:
SITEOWNER = "you"

# where fcgi servers and other support scripts are stored.
LIBEXEC = "/usr/libexec/pycopia"

# VHOSTS format is a dictionary where key names are the site (virtual host)
# names, and values are lists of servers to start.

VHOSTS = {
    # virtual host names: list of fcgi servers to start.
    FQDN: ["auth", "myapp"],
}
