/* Pycopia default login page css. */

body {
  font-family: Helvetica, sans-serif;
  background-color: #FFF;
  color: black;
}

h1 {
  text-align: center;
  border-style:outset;
  background-color: lightBlue;
  border-color: darkBlue;
  padding: 3px;
  border-width:5px;
}

form {
  margin-left: 2em;
  border-color: #EEE;
}

p.error {
  padding: 1em;
  color: #FF0000;
}

#id_username {
  background-color: #BBBBEE;
}

#id_password {
  background-color: #EEBBBB;
}

input {
    width: 60%;
    display: block;
}

label {
    display: block;
    font-weight:bold;
    margin-top: 1em;
}

input:focus {
  border-width: 2px;
  border-color: black;
}

input[type="submit"] {
    background-color:#BBFFBB;
    font-weight:bold;
    margin-top:10px;
    padding:4px;
}

input[type="submit"]:hover { 
  background-color: #AAEEAA;
}

hr {color: silver; width: 80%;}

