# logging configuration file for Pyro and Pycopia QA.
# I mostly use syslog-ng, and don't see a need to duplicate its
# functionality in Python. Therefore I just hand off logging
# responsibility to syslog/syslog-ng with minimal processing by Python or
# Pyro.


[loggers]
keys=root,Pyro4,PycopiaLog

[handlers]
keys=rootLog_stderr,PyrouserLogFile,PycopiaLog

[formatters]
keys=pyroFormatter

[logger_root]
level=NOTSET
handlers=rootLog_stderr

[logger_Pyro4]
qualname=Pyro4
level=INFO
handlers=PyrouserLogFile
propagate=0

[logger_PycopiaLog]
qualname=pycopia
level=DEBUG
handlers=PycopiaLog
propagate=0

[handler_rootLog_stderr]
class=StreamHandler
level=NOTSET
args=(sys.stderr,)

[handler_PyrouserLogFile]
class=handlers.SysLogHandler
formatter=pyroFormatter
args=("/dev/log", handlers.SysLogHandler.LOG_USER)

[handler_PycopiaLog]
class=handlers.SysLogHandler
formatter=pyroFormatter
args=("/dev/log", handlers.SysLogHandler.LOG_USER)

[formatter_pyroFormatter]
format= %(name)s[%(process)d]: %(message)s

