# vim:ts=4:sw=4:softtabstop=4:smarttab:expandtab
# 
# Pycopia.QA Pyro configuration.

PYRO_BC_RETRIES=1
PYRO_BC_TIMEOUT=0.75
PYRO_BROKEN_MSGWAITALL=0
PYRO_CHECKSUM=0
PYRO_COMPRESSION=0
PYRO_CONFIG_FILE=
PYRO_DETAILED_TRACEBACK=0
PYRO_DNS_URI=0
PYRO_ES_BLOCKQUEUE=1
PYRO_ES_QUEUESIZE=1000
PYRO_GNOSIS_PARANOIA=0
PYRO_HOST=
PYRO_LOGFILE="/var/cache/pycopia/Pyro_log"
PYRO_MAXCONNECTIONS=200
PYRO_MOBILE_CODE=0
PYRO_MULTITHREADED=1
PYRO_NS2_BC_ADDR=None
PYRO_NS2_BC_PORT=9091
PYRO_NS2_HOSTNAME=None
PYRO_NS2_PORT=9091
PYRO_NS_BC_ADDR=None
PYRO_NS_BC_PORT=9090
PYRO_NS_DEFAULTGROUP=":Default"
PYRO_NS_HOSTNAME=None
PYRO_NS_PORT=9090
PYRO_NS_URIFILE="/var/cache/pycopia/Pyro_NS_URI"
PYRO_ONEWAY_THREADED=1
PYRO_PICKLE_FORMAT=2
PYRO_PORT=7766
PYRO_PORT_RANGE=100
PYRO_PUBLISHHOST=None
PYRO_SOCK_KEEPALIVE=1
PYRO_STDLOGGING=0
PYRO_STDLOGGING_CFGFILE="logging.cfg"
PYRO_STORAGE="/var/tmp"
PYRO_TCP_LISTEN_BACKLOG=200
PYRO_TRACELEVEL=0
PYRO_USER_LOGFILE="/home/tmp/Pyro_userlog"
PYRO_USER_TRACELEVEL=0
PYRO_XML_PICKLE=None

PYROSSL_CA_CERT="/etc/ssl/certs/ca.pem"
PYROSSL_CERTDIR="/etc/ssl/certs"
PYROSSL_CLIENT_CERT="pyro_client.pem"
PYROSSL_SERVER_CERT="pyro_server.pem"
PYROSSL_POSTCONNCHECK=1

