
tr.row1 {
  background-color: #FFF4B3;
}

tr.row2 {
  background-color: #FFFAD9;
}

table.rowdisplay td  {
    padding-top: 5px;
}

fieldset {
  background-color: #FFFAD9;
}

fieldset>legend {
    font-weight:bold;
}

fieldset input[type="text"] {
    width: 70%;
    margin-bottom: 5px;
}

fieldset label {
    display: inline-block;
    font-weight:bold;
    width: 20%;
}

fieldset select {
    width: 50em;
    margin-bottom: 5px;
}

input[type="radio"] {
    display: inline;
    margin-right: 20px;
}

input.ARRAY {
}

input.BIGINT {
  background-color: #EEFFB3;
}

input.BINARY {
}

input.BIT {
}

input.BOOLEAN {
  background-color: #F2F345;
  width: auto;
}

input.CHAR {
  background-color: #EEBBBB;
}

input.Cidr {
  background-color: #F2E345;
}

input.DATE {
    background-color: #A0DFF1;
}

input.TIMESTAMP {
    background-color: #A0DFF1;
}

input.FLOAT {
  background-color: #EEFFB3;
}

input.Inet {
  background-color: #F2E345;
}

input.INTEGER {
  background-color: #EEFFB3;
}

input.INTERVAL {
    background-color: #A0DFF1;
}

input.MACADDR {
    background-color: #C9B912;
}

input.NUMERIC {
  background-color: #EEFFB3;
}

input.SMALLINT {
  background-color: #EEFFB3;
}

input.VARCHAR {
  background-color: #DDBBBB;
}

textarea.TEXT {
    width: 100%;
}

input.TIME {
    background-color: #A0DFF1;
}

input.UUID {
}

fieldset.ValueType label {
    display: inline;
    font-weight: normal;
    width: auto;
    margin-left:1em;
    width:auto;
}

fieldset.TestCaseStatus label {
    display: inline;
    font-weight: normal;
    width: auto;
    margin-left:1em;
    width:auto;
}

fieldset.TestCaseType label {
    display: inline;
    font-weight: normal;
    width: auto;
    margin-left:1em;
    width:auto;
}

fieldset.TestPriorityType label {
    display: inline;
    font-weight: normal;
    width: auto;
    margin-left:1em;
    width:auto;
}

fieldset.radioset label {
    display: inline;
    font-weight: normal;
    width: auto;
    margin-left:1em;
    width:auto;
}

fieldset.radioset input {
    width:auto;
}


input:focus {
    border-width: 2px;
    border-color: black;
}

input[type="submit"] {
    background-color:#BBFFBB;
    font-weight:bold;
    margin-top:10px;
    width:100%;
    padding:4px;
}

input:hover[type="submit"] { 
  background-color: #AAEEAA;
}

div#choicelist {
  font-size: 9pt;
  height: 50em;
  float: right;
  margin-top: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
}

div#dbmodelinstance {
  float: left;
  width: 50%;
}


