
html,body {margin:10px; padding:2px}
body {font-family: Helvetica, sans-serif;}

a {
  text-decoration: none;
}

div.navigation {
    border-style:outset;
    background: lightBlue;
    border-color: darkBlue;
    padding: 3px;
    border-width:5px;
    margin-bottom: 10px;
}

div.navigation p {
  width: 33%;
  display: inline-block;
  text-align: center;
}

p.title {
  font-weight: bold;
}


img { 
  border:none; 
  padding-left: 10px;
  padding-right: 10px;
}

table {
  width: 100%;
  border:outset ;
  border-color:#CCC; 
}

table caption {
  font-weight: bold;
  text-align:left; 
  font-size:110%; 
  margin:5px; 
}


tr.row1 {
  background-color: #FFF4B3;
}

tr.row2 {
  background-color: #FFFAD9;
}

table.rowdisplay td  {
    padding-top: 5px;
}


table tr th {
  background-color: #FFE65C;
  text-align:left; 
  font-size:12px; 
  font-weight:bold; 
}

table tr td {
  font-size:12px; 
}

span.editable {
  color: #0F4C00;
  background-color: #F4DBFF;
  padding: 2px 5px 2px 5px;
}


p.error {
  padding: 1em;
  color: #FF0000;
}


tr td:first-child, tr th:first-child { width: 80px; }

fieldset {
  background-color: #FFFAD9;
}

fieldset>legend {
    font-weight:bold;
}

fieldset input[type="text"] {
    width: 70%;
    margin-bottom: 5px;
}

fieldset label {
    display: inline-block;
    font-weight:bold;
    width: 20%;
}

fieldset select {
    width: 50em;
    margin-bottom: 5px;
}

input[type="radio"] {
    display: inline;
    margin-right: 20px;
}

input.PGArray {
}

input.PGBigInteger {
  background-color: #EEFFB3;
}

input.PGBinary {
}

input.PGBit {
}

input.PGBoolean {
  background-color: #F2F345;
  width: auto;
}

input.PGChar {
  background-color: #EEBBBB;
}

input.PGCidr {
  background-color: #F2E345;
}

input.PGDate {
    background-color: #A0DFF1;
}

input.PGDateTime {
    background-color: #A0DFF1;
}

input.PGFloat {
  background-color: #EEFFB3;
}

input.PGInet {
  background-color: #F2E345;
}

input.PGInteger {
  background-color: #EEFFB3;
}

input.PGInterval {
    background-color: #A0DFF1;
}

input.PGMacAddr {
    background-color: #C9B912;
}

input.PGNumeric {
  background-color: #EEFFB3;
}

input.PGSmallInteger {
  background-color: #EEFFB3;
}

input.PGString {
  background-color: #DDBBBB;
}

textarea.PGText {
    width: 100%;
}

input.PGTime {
    background-color: #A0DFF1;
}

input.PGUuid {
}

fieldset.ValueType label {
    display: inline;
    font-weight: normal;
    width: auto;
    margin-left:1em;
    width:auto;
}

fieldset.TestCaseStatus label {
    display: inline;
    font-weight: normal;
    width: auto;
    margin-left:1em;
    width:auto;
}

fieldset.TestCaseType label {
    display: inline;
    font-weight: normal;
    width: auto;
    margin-left:1em;
    width:auto;
}

fieldset.TestPriorityType label {
    display: inline;
    font-weight: normal;
    width: auto;
    margin-left:1em;
    width:auto;
}

fieldset.radioset label {
    display: inline;
    font-weight: normal;
    width: auto;
    margin-left:1em;
    width:auto;
}

fieldset.radioset input {
    width:auto;
}


input:focus {
    border-width: 2px;
    border-color: black;
}

input[type="submit"] {
    background-color:#BBFFBB;
    font-weight:bold;
    margin-top:10px;
    width:100%;
    padding:4px;
}

input:hover[type="submit"] { 
  background-color: #AAEEAA;
}

hr {color: silver; width: 80%;}


ul.draglist { 
  width:100%; 
  float:right; 
  cursor: move;
  padding: 2px 2px 2px 2px;
  border: 2px solid #FFFFFF;
  margin: 2px 2px 2px 2px;
}

select.dragtarget { 
  border: 2px dotted  #AA8888;
}

ul.draglist li { 
  list-style-type: none; 
  padding: 2px 2px 2px 2px;
  border: thin solid silver;
  margin: 2px 2px 2px 2px;
}

ul.selectlist { 
  float:left; 
  padding: 10px 10px 10px 20px;
  margin: 5px;
}
ul.selectlist li { 
  list-style-type: disc; 
  font-size:11px; 
  line-height:16px;
}

ul.selectlist li:hover { 
  list-style-image: url(/media/images/icon_deletelink.png); /* 10x10 */
}

span.clickable {
  cursor: pointer;
  color: #2222AA;
}

span.clickable:hover {
  color: #3333FF;
}

div.buttonbar {
  background:#CADBFF; 
  text-align:left;
  padding: 5px 8px 5px 8px;
}

#container { position:relative; width:100%; min-width:760px; padding:0; }

.applet { 
  width:100%; min-width:760px; 
  padding:0; 
  border-width:0;
  margin: 0 0 0 0;
  float: none;
}

#content { 
  border: medium outset;
}

#content table {
  width: 80%;
  margin: 10px;
}

#content table caption {
  padding: 2px 5px 2px 5px;
  background-color: #3D6994;
  color: #D6B358;
  text-align: center;
}

div#extra {
  background:#FF8539; 
  clear:left; 
  float:left; 
  width:150px;
}

div#extra table {
  clear: both;
}

div#extra td, div#extra th { 
  font-family: sans-serif;
  padding: 0px 2px 0px 2px;
  border: hidden;
  line-height: normal;
}

div#extra th { 
  font-weight: bold;
  text-align: center;
}


#messages {
  clear:both;
  padding:10px; 
  background: #EEEE88; 
  background:#AF9D89; 
}

div#messages p {
  color:#EEEEEE; 
}

