/* pyNMS default css. */

html,body {margin:0; padding:1px}
body {font: Helvetica,sans-serif}

p {margin:0 10px 10px}
a {display:block; color: #981793; padding:10px}

div.container {
}

div#header h1 {height:80px; 
  line-height:80px; 
  margin:0; 
  padding-left:10px; 
  background: #EEE; 
  color: #B22222}

div#wrapper {
  width:100%; 
  float:right; 
  margin-left:-200px}

div#content {margin-left:200px; margin-top:10px}
div#content p {line-height:1.4}

div#navigation {
  background:#B9CAFF; 
  float:left; 
  width:200px}

div#extra {background:#FF8539; 
  clear:left; 
  float:left; 
  width:200px}

div#footer {clear:both; 
  width:100%; 
  background: #333; 
  color: #FFF}
div#footer p {margin:0; padding:5px 10px}
